<div class="container">
    <form #userForm="ngForm" (ngSubmit)="AddMember()" novalidate>
        <div class="row">

            <label class="mt-2 mb-2 col-sm-3 col-form-label">Team Member name</label>
            <div class="col-sm-5">
                <input type="string" class="form-control" required #name="ngModel"
                    [class.is-invalid]="name.invalid && name.touched" pattern="[a-zA-Z]*" name="name"
                    [(ngModel)]="memberModel.name" placeholder="Enter Team Member name">
                <div *ngIf="name.errors && (name.invalid && name.touched)">
                    <small class="text-danger" *ngIf="name.errors['required']">*Name is required</small>
                    <small class="text-danger" *ngIf="name.errors['pattern']">*Enter only alphabetical
                        characters</small>
                </div>
            </div>
        </div>
        <div class="row">

            <label class=" mt-2 mb-2 col-sm-3 col-form-label">Years of Experience</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" name="yearsofExperience" #yearsofExperience="ngModel"
                    [class.is-invalid]="yearsofExperience.invalid && yearsofExperience.touched" pattern="[^0-3]"
                    [(ngModel)]="memberModel.yearsofExperience" placeholder="Enter Years of Experience" required>
                <div *ngIf="yearsofExperience.errors && (yearsofExperience.invalid && yearsofExperience.touched)">
                    <small class="text-danger" *ngIf="yearsofExperience.errors['required']">*Years of Experience is
                        required</small>
                    <small class="text-danger" *ngIf="yearsofExperience.errors['pattern']">*Minimun of 4 years
                        Experience
                        is required </small>
                </div>
            </div>
        </div>

        <div class="row">

            <label class="mt-2 mb-2 col-sm-3 col-form-label">Description</label>
            <div class="col-sm-5">
                <input type="string" class="form-control" name="description" #description="ngModel"
                    [class.is-invalid]="description.invalid && description.touched"
                    [(ngModel)]="memberModel.description" placeholder="Enter description"
                    required>
                <div *ngIf="description.errors && (description.invalid && description.touched)">
                    <small class="text-danger" *ngIf="description.errors['required']">*Description is
                        required</small>
                </div>
            </div>
        </div>

        <div class="row">

            <label class="mt-2 mb-2 col-sm-3 col-form-label">Project Start Date</label>
            <div class="col-sm-5">
                <input type="string" class="form-control" name="projectStartDate" #projectStartDate="ngModel"
                    [class.is-invalid]="projectStartDate.invalid && projectStartDate.touched"
                    pattern="^(?:\d{4}-(?:(?:(?:(?:0[13578]|1[02])-(?:0[1-9]|[1-2][0-9]|3[01]))|(?:(?:0[469]|11)-(?:0[1-9]|[1-2][0-9]|30))|(?:02-(?:0[1-9]|1[0-9]|2[0-8]))))|(?:(?:\d{2}(?:0[48]|[2468][048]|[13579][26]))|(?:(?:[02468][048])|[13579][26])00)-02-29)$"
                    [(ngModel)]="memberModel.projectStartDate"
                    placeholder="Date of format(yyyy-mm-dd)" required>
                <div *ngIf="projectStartDate.errors && (projectStartDate.invalid && projectStartDate.touched)">
                    <small class="text-danger" *ngIf="projectStartDate.errors['required']">*Project Start Date is
                        required</small>
                    <small class="text-danger" *ngIf="projectStartDate.errors['pattern']">*Enter Project Start Date
                        of format (yyyy-mm-dd)</small>
                </div>
            </div>
        </div>

        <div class="row">

            <label class="mt-2 mb-2 col-sm-3 col-form-label">Project End Date</label>
            <div class="col-sm-5">
                <input type="string" class="form-control" name="projectEndDate" #projectEndDate="ngModel"
                    [class.is-invalid]="projectEndDate.invalid && projectEndDate.touched"
                    pattern="^(?:\d{4}-(?:(?:(?:(?:0[13578]|1[02])-(?:0[1-9]|[1-2][0-9]|3[01]))|(?:(?:0[469]|11)-(?:0[1-9]|[1-2][0-9]|30))|(?:02-(?:0[1-9]|1[0-9]|2[0-8]))))|(?:(?:\d{2}(?:0[48]|[2468][048]|[13579][26]))|(?:(?:[02468][048])|[13579][26])00)-02-29)$"
                    [(ngModel)]="memberModel.projectEndDate"
                    placeholder="Date of format(yyyy-mm-dd)" required>
                <div *ngIf="projectEndDate.errors && (projectEndDate.invalid && projectEndDate.touched)">
                    <small class="text-danger" *ngIf="projectEndDate.errors['required']">*Project End Date is
                        required</small>
                    <small class="text-danger" *ngIf="projectEndDate.errors['pattern']">*Enter Project End Date
                        of format (yyyy-mm-dd)</small>
                </div>
            </div>
        </div>

        <div class="row">

            <label class="mt-2 mb-2 col-sm-3 col-form-label">Number of skillSet</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" name="skillSet" #skillSet="ngModel"
                    [class.is-invalid]="skillSet.invalid && skillSet.touched" pattern="[^0-2]"
                    [(ngModel)]="memberModel.skillSet" placeholder="Enter skillSet" required>
                <div *ngIf="skillSet.errors && (skillSet.invalid && skillSet.touched)">
                    <small class="text-danger" *ngIf="skillSet.errors['required']">*SkillSet is
                        required</small>
                    <small class="text-danger" *ngIf="skillSet.errors['pattern']">*Minimum of 3 Skillsets is
                        required</small>
                </div>
            </div>
        </div>


        <div class="row">

            <label class="mt-2 mb-2 col-sm-3 col-form-label">Allocation Percentage</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" name="allocation" #allocation="ngModel"
                    [class.is-invalid]="allocation.invalid && allocation.touched" pattern="(0|100)"
                    [(ngModel)]="memberModel.allocation"
                    placeholder="Enter allocation Percentage" required>
                <div *ngIf="allocation.errors && (allocation.invalid && allocation.touched)">
                    <small class="text-danger" *ngIf="allocation.errors['required']">*Allocation Percentage is
                        required</small>
                    <small class="text-danger" *ngIf="allocation.errors['pattern']">*Enter 0 or 100</small>
                </div>

            </div>
        </div>

        <div>
            <div class="buttonrow" style="display:flex;margin-right:-15px;margin-left:-15px;">
                <div class="col-12 col-md-6">

                    <button [disabled]="userForm.form.invalid" class="btn btn-primary btn-xl">Add </button>
                    <br><br>
                    <div class="alert alert-success" role="alert" *ngIf="successModal">Team Member is added
                        Successfully!</div>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="errormessage">{{errormessage}}</div>
            </div>
        </div>
    </form>
</div>