<div class="container">
  <h3 class="d-flex justify-content-center">Project Management Tracker Application</h3>
  <h5 class="d-flex justify-content-center">Angular, DotNet Core Web API, MongoDB</h5>
</div>

<nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item navbar-center">
      <button routerLink="manager" class="m-1 btn btn-light btn-outline-primary">Manager</button>
    </li>

    <li class="nav-item navbar-center">
      <button routerLink="member" class="m-1 btn btn-light btn-outline-primary">Member</button>
    </li>
  </ul>
</nav>
<router-outlet>
</router-outlet>